<div class="comments-container">
    <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()" class="comment-form">
    <input
        class="mainform" 
        type="text" 
        formControlName="content" 
        placeholder="Write a comment..." />
    <button type="submit" [disabled]="commentForm.invalid">Post</button>
    </form>
    <div *ngIf="loading">Loading comments...</div>
    <div class="comment-list">
        <div *ngFor="let comment of comments" class="comment-item">
            <strong>
                <a [routerLink]="['/profile', comment.user.id]">{{ comment.user.name }}</a>
            </strong>
            <span>{{ comment.content }}</span>
            <button *ngIf="comment.can_delete" (click)="deleteComment(comment.id)" class="delete-comment-btn">
                Delete
            </button>
        </div>
    </div>
</div>