<div class="friends-container">
  <h1>My Friends</h1>

  <p *ngIf="loading" class="loading-text">Loading friends...</p>
  <p *ngIf="error" class="error-message">{{ error }}</p>

  <div *ngIf="!loading && friends.length === 0" class="empty-message">
    <p>You don't have any friends yet.</p>
  </div>

  <ul *ngIf="!loading && friends.length > 0" class="friends-list">
    <li *ngFor="let friend of friends" class="friend-item">
      <span>{{ friend.name }}</span>
      <a [routerLink]="['/profile', friend.id]">View Profile</a>
    </li>
  </ul>
</div>
