<nav>
  <div class="nav-left">
    <a routerLink="/">Home</a>
    <a *ngIf="isAuthenticated" routerLink="/friends">Friends</a>
  </div>
  <div class="nav-right">
    <ng-container *ngIf="currentUser$ | async as user; else guestView">
      <span>Welcome, {{ user.name }}!</span>
      <a [routerLink]="['/profile', user.id]">Profile</a>
      <button (click)="logout()">Logout</button>
    </ng-container>
    
    <ng-template #guestView>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>